<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro de Eventos</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div class="container" >
	    <nav style="margin-botton: 100px">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo" style="margin-left:400px">Detalhes do Eventos</a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="#">Home</a></li>
		        <li><a href="#">Sobre</a></li>
		        <li><a href="#">Contato</a></li>
		      </ul>
		    </div>
		  </nav>
	    <a href="/eventos" style="margin-top:20px" class="waves-effect waves-light btn">
	    	<i class="material-icons left">arrow_back</i>Voltar
	    </a>	
	    <div th:each="evento : ${evento}">
	    	<div class="row">
	    		<p>Nome:   <span th:text="${evento.nome}"></span></p>
	    		<p>Local:  <span th:text="${evento.local}"></span></p>
	    		<p>Data:   <span th:text="${evento.data}"></span></p>
	    		<p>Horário:<span th:text="${evento.horario}"></span></p>
	    	</div>
	    </div>
	 </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>